/build_local/
/source/assets/build/
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log

# Optional ignores
# /build_staging/
# /build_production/
